body {
    background: beige;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    color: black;
}

.master {
    font-family: Papyrus, fantasy;

    text-align: center;
    font-size: 30px;
    font-weight: bold;

    color: green;
}

.recipeList {
    margin: 16px;
    padding: 32px;
    
    
    text-align: center;
    font-size: 18px;
}

.link{
    display: inline-block;
    border: 2px solid rgb(3, 122, 53);
    border-radius: 8px;
    padding: 12px;
}

.elem{
    margin: 16px;
    padding: 16px;
    
    border: 1px dotted green;
    border-radius: 8px;

    width: 400px;

    display: inline-block;

    background-color: white;
}

.img{
    display: block;
    margin: 0 auto;
    padding: 16px;
}

.title{
    text-align: center;
    font-size: 30px;

    font-family: cursive;
    font-weight: bold;
    color: darkgreen;
}

.desc,
.ingredients,
.steps{
   border: 1px solid black;
   margin: 16px;
   padding: 2px 10px;
}

.desc{

}

.ingredients{
    
}

.steps{
    
}